.sensorium {
  background: #000;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: smaller;
  overflow: hidden;
  position: relative;
}
.sensorium video,
.sensorium .controls {
  position: absolute;
}
.sensorium .controls {
  left: 0;
  padding: 4px;
  right: 0;
  z-index: 1;
}
.sensorium video {
  height: 100%;
  width: 100%;
}
.sensorium .header {
  top: 0;
  text-align: right;
}
.sensorium .footer {
  bottom: 0;
  text-align: center;
}
.sensorium button {
  display: inline-block;
  padding: 3px 9px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(top,#FFF,#E6E6E6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E6E6E6));
  background-image: -webkit-linear-gradient(top,#FFF,#E6E6E6);
  background-image: -o-linear-gradient(top,#FFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
  background-repeat: repeat-x;
  border: 1px solid #CCC;
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #B3B3B3;
  border-radius: 14px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
.sensorium button:hover {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.sensorium button:active {
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0;
}
.sensorium button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.sensorium a {
  color: #FFF;
  text-decoration: none;
}
